html {  
  font-size: 16px;
  font-family: 'JetBrains Mono', monospace;
  color:white;
  background: linear-gradient(225deg, #7400b8, #6930c3, #5e60ce, #5390d9, #4ea8de, #48bfe3, #56cfe1);
}

/*
$neonPurple: #5e60ce;  
$neonBlue: #64dfdf;  
$palatinate-purple: #7400b8;  
$white: #ffffff;
$skobeloff: #006466;
  
$gradient-top-left: linear-gradient(225deg, #7400b8, #6930c3, #5e60ce, #5390d9, #4ea8de, #48bfe3, #56cfe1);

*/

body {
    main {
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    }
}

body {
    nav {
        ul {
            list-style-type: none;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            height: 100%;
        }
    }
}

body {
    nav {
        ul {
            li {
                text-decoration:none;
            }
        }
    }
}

h3 {
    background-color: #7400b8 ;
}

h1 {
    display:none;
}

body {
    nav {
        grid-column: 2 / 3;
    }
}